* {
  background-color: #E8D0A9;
}

audio {
  width: 30vh;
  padding-bottom: 20px
}

p {
  margin: 0%;
}

label {
  padding-right: 10px;
}

button {
  padding-right: 10px;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  padding-right: 5px;
}

.soundcloud {
  padding-bottom: 5px;
}

.instagram {
  padding-bottom: 3px;
}

.twitter {
  padding-bottom: 7px;
}

.nts {
  padding-bottom: 6px;
}

.email {
  padding-bottom: 10px;
}

.player {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

.songTitle {
  font-family: Helvetica, Arial, sans-serif;
  text-shadow:lightcyan -1px 2px;
}

.songTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.showList {
  font-family: Helvetica, Arial, sans-serif;
}

@media (max-width:600px)  {
  audio {
    width: 100%;
  }
}
